* {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
}

article {
    width: 700px;
    height: 800px;
    margin: 10px 0;

    background-color: #fff;
    box-shadow: 1px 1px 4px #aaa;

    display: flex;
    flex-direction: column;
}

article header {
    height: 40px;
    padding: 0 16px;
    background-color: #aaa;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
